Cart

<form action="" method="POST" id="payment-form">
  <span class="payment-errors"></span>

  <div class="form-row">
    <label>
      <span>Card Number</span>
      <input type="text" size="20" data-stripe="number" value="4242424242424242"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>CVC</span>
      <input type="text" size="4" data-stripe="cvc" value="123"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Expiration (MM/YYYY)</span>
      <input type="text" size="2" data-stripe="exp-month" value="10"/>
    </label>
    <span> / </span>
    <input type="text" size="4" data-stripe="exp-year" value="2014"/>
  </div>

  <button>Charge Me</button>
</form>

<div id="result">
  Result:
</div>

<script type="text/javascript">
    $(function(){
        function stripeResponseHandler(responseStatus, response) {
            if (responseStatus == 200 && response.used != true) {
                $('#result').text("Result: Success")
            } else {
                $('#result').text("Result: Failure")
            }
        }

        // This identifies your website in the createToken call below
        Stripe.setPublishableKey('pk_test_kt5fc4kAQmlV9X04X0cA43rH');

        $('button').click(function(e) {
            e.preventDefault();
            Stripe.card.createToken($('#payment-form'), stripeResponseHandler);
        });
    });
</script>